<ion-header>
  <ion-toolbar>
    <ion-title>
      Relevamiento Visual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="#">
    <ion-avatar>
      <img src="../../../assets/img/img_avatar2.png" alt="Avatar">
    </ion-avatar>
  
    <ion-item color="danger" *ngIf="getError()">
      <ion-label>E-Mail inexistente o Clave incorrecta</ion-label>
    </ion-item>
    <ion-item color="success" *ngIf="getOk()">
      <ion-label>Login OK</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input [(ngModel)]="correo" type="email" inputmode="email" autofocus placeholder="Ingrese su E-Mail" name="uname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Clave</ion-label>
      <ion-input [(ngModel)]="clave" type="password" placeholder="Ingrese su clave" name="psw" required></ion-input>
    </ion-item>

    <ion-button expand="block" fill="solid" color="success" type="submit" (click)="verificarUsuario()">Ingresar</ion-button>
  </form>
</ion-content>
