<ion-header>
  <ion-toolbar>
    <ion-title>
      nombreApp
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger" fill="outline" (click)="authService.SignOut()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-content>
      <p><strong>ID:</strong>{{authService.getUserData().uid}}</p>
      <p><strong>Email:</strong>{{authService.getUserData().email}}</p>
    </ion-card-content>
  </ion-card> -->
</ion-content>

<ion-footer>
  <ion-chip>
    <ion-avatar>
      <img src="../../../assets/img/usuario.png" alt="Usuario">
    </ion-avatar>
    <ion-label>{{authService.getUserData().email}}</ion-label>
    <!-- <ion-icon name="close-circle"></ion-icon> -->
  </ion-chip>
</ion-footer>