<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- <h2>Soy el Login</h2> -->
<form action="#">
  <div class="imgcontainer">
    <img src="../../assets/img/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <ion-item color="danger" *ngIf="getError()">
      <ion-label>E-Mail inexistente o Clave incorrecta</ion-label>
    </ion-item>
    <label for="uname"><b>E-Mail</b></label>
    <input [(ngModel)]="correo" type="email" placeholder="Ingrese su E-Mail" name="uname" required>

    <label for="psw"><b>Clave</b></label>
    <input [(ngModel)]="clave" type="password" placeholder="Ingrese su clave" name="psw" required>

    <ion-button expand="block" fill="solid" color="success" *ngIf="mostrarBoton()" type="button" (click)="verificarUsuario()">Ingresar</ion-button>
  </div>
</form>
</ion-content>
