<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- <h2>Soy el Login</h2> -->
<form action="#">
  <div class="imgcontainer">
    <img src="../../assets/img/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>E-Mail</b></label>
    <input type="text" placeholder="Ingrese su E-Mail" name="uname" required>

    <label for="psw"><b>Clave</b></label>
    <input type="password" placeholder="Ingrese su clave" name="psw" required>

    <button type="button">Ingresar</button>
  </div>
</form>
</ion-content>
